* {
    padding: 0;
    margin: 0;
}

.banner {
    background: url(../images/divlogo.png) no-repeat;
    background-size: 100%;
    background-color: #010120;
    padding: 24px;
}

.banner__info {
    position: relative;
    text-align: right;
    padding-top: 28%;
    padding-right: 6%;
}

.banner__info__dates,
.banner__info__place {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
    font-size: 40px;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    line-height: 1.2;
}

.banner__info a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    position: sticky;
    padding: .8rem .8rem .8rem .8rem;
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
}

a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
}

a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0c002b, rgba(139, 17, 215, 0.78));
    animation: animate1 1.25s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, rgba(139, 17, 215, 0.78));
    animation: animate2 1.25s linear infinite;
    animation-delay: 0.625s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #0c002b, rgba(139, 17, 215, 0.78));
    animation: animate3 1.25s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, rgba(139, 17, 215, 0.78));
    animation: animate4 1.25s linear infinite;
    animation-delay: 0.625s;
}

a:hover {
    color: #010120;
    background: rgb(226, 137, 211);
    box-shadow: 0 0 10px rgb(226, 137, 211), 0 0 40px rgb(226, 137, 211), 0 0 80px rgb(226, 137, 211);
    text-decoration: none;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.banner__about {
    text-align: right;
    padding-top: 28%;
    padding-right: 7%;
}

.banner__about__timer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
    font-size: 96px;
}

.banner__about__hackathon {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-align: right;
    font-size: 1.5rem;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    padding-bottom: 20%;
}

.head {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    background-color: #010120;
    padding-bottom: 3%;
}

.categories {
    padding-bottom: 16%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: #010120;
}

.categories__container {
    width: 40vw;
    height: 50vh;
    border: .3vw solid #FFFFFF;
    box-shadow: 0px 0px 15px 6px rgba(139, 17, 215, 0.78);
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.categories__container__table {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 2vw;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    text-align: left;
}

.pageBenefits {
    padding-bottom: 30px;
    position: relative;
    background-color: #010120;
}

.pageBenefits-cardContainer {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

.pageBenefits-text {
    font-size: 14px;
}

.pageBenefits {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 16%;
    padding-left: 25%;
    padding-right: 25%;
}

.pageBenefits-card {
    width: 200px;
    height: 200px;
}

.pageBenefits-card img {
    width: 80%;
    height: 80%;
}

.pageBenefits>* {
    margin: 20px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    box-shadow: 0px 0px 18px 5px rgba(191, 112, 192, 0.78);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    padding: 30px 30px 30px 30px;
    font-size: 10px;
}

.front {
    text-align: center;
    border: 5px solid white;
    //box-shadow: 0px 0px 18px 5px rgba(139, 17, 215, 0.78);
    animation: pulse .5s infinite alternate ease-in-out;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 18px 5px rgba(191, 112, 192, 0.78);
    }
    100% {
        box-shadow: 0px 0px 18px 10px rgba(191, 112, 192, 0.78);
    }
}

.how {
    padding-bottom: 16%;
    background-color: #010120;
    text-align: center;
}

.how img {
    width: 60%;
}

details summary {
    outline-style: none;
    /* удалить обводку при фокусе */
    cursor: pointer;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 12px 3px rgba(139, 17, 215, 0.78);
    padding: 1%;
}

details summary span {
    width: 3%;
    float: right;
    transition: all .1s ease-out;
}

details summary span img {
    width: 100%;
    text-align: center;
}

details[open] summary span {
    transform: rotate(90deg);
    transition: all .1s ease-out;
}

details summary::-webkit-details-marker {
    display: none;
}

.faq {
    background-color: #010120;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    padding-bottom: 16%;
    font-family: 'Montserrat', sans-serif;
}

.answer {
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 12px 3px rgba(139, 17, 215, 0.78);
    padding: 1%;
    border-top: none;
}

.non-brd {
    border-top: none;
}

.last-year {
    text-align: center;
    background-color: #010120;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3%;
}

.embed-responsive {
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 12px 2px #12C6FF;
}

.your-class {
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 12px 2px #12C6FF;
}

.winimg {
    width: 100%;
}

.winimg img {
    width: 100%;
    padding-bottom: 6%;
    padding-top: 6%;
}